body {
  padding-top: 2.5rem;
}



.showcase {
  height: 100vh; 
  width: 100vw;
  background-image: url(background3.jpg) ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  } 